<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stocksearch.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

</head>
<body>



    <header>
        <nav class="navbar">
            <div class="logo-container">
                <a href="{{ url_for('stock_search') }}"><img src="{{ url_for('static', filename='image/logo.png') }}" alt="Logo" class="logo"></a>
                <a href="{{ url_for('stock_search') }}" class="nav-title">Stock Screener</a>
            </div>
            <div class="menu-container">
                <a href="{{ url_for('stock_search') }}" class="menu-item">Stock Search</a>
                <a href="{{ url_for('index') }}" class="menu-item">Stock Screener</a>
                <a href="{{ url_for('learn_more') }}" class="menu-item">Learn More</a>
            </div>
            {% include 'partials/logout.html' %}
        </nav>
    </header>
    <main>
        <div class="container">
            <section class="hero">
                <h1>Find Your Next Investment</h1>
                <form id="searchForm">
                    <div class="search-container">
                        <input type="text" id="tickerInput" class="search-bar" placeholder="Search for stocks, ETFs" required>
                        <button type="submit">Search</button>
                    </div>
                </form>
                <div id="alertBox" class="alert">
                    Stock not available! Please try a valid ticker symbol.
                </div>
                <p id="loadingMessage">Fetching stock data, please wait...</p>
                <p>Or go to the <a href="{{ url_for('index') }}">Stock Screener</a></p>
            </section>
        </div>
    </main>

    <footer>
        <div class="footer-social">
            <span>©2024 Stock Screener</span>
        </div>
    </footer>


    <script>
        document.getElementById('searchForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent form submission
            const ticker = document.getElementById('tickerInput').value.trim().toUpperCase();

            // Show the loading message
            const loadingMessage = document.getElementById('loadingMessage');
            loadingMessage.style.display = 'block';

            // Attempt to fetch the stock details page
            fetch(`/stock/${ticker}`)
                .then(response => {
                    if (response.ok) {
                        window.location.href = `/stock/${ticker}`;
                    } else {
                        loadingMessage.style.display = 'none';
                        const alertBox = document.getElementById('alertBox');
                        alertBox.style.display = 'block'; // Show alert

                        setTimeout(() => {
                            alertBox.style.display = 'none';
                        }, 5000); // Hide alert after 5 seconds
                    }
                })
                .catch(error => {
                    console.error('Error fetching the stock details page:', error);
                    loadingMessage.style.display = 'none'; // Hide loading message if there's an error
                    const alertBox = document.getElementById('alertBox');
                    alertBox.style.display = 'block'; // Show alert if there's an error
                    setTimeout(() => {
                        alertBox.style.display = 'none';
                    }, 5000); // Hide alert after 5 seconds
                });
        });
    </script>
</body>
</html>
